
     <form method="post" action="{{url}}">
        {% csrf_token %}
        <div class="form-group mt-5">
        <div class="flex">
        <select v-on:change="setItemDetailEventChanged" class="form-control" name="event" id="event">

            <option value="" selected disabled>Add to event</option>
            {% for event in events %}
                <option value="{{event.id}}">{{event.name}}</option>
            {% endfor %}

        </select>
            <button v-if="itemDetailEventChanged" class="bg-gray-500 rounded ml-2 px-3 py-1">Save</button>
            </div>
        </div>

    </form>