{% extends 'dashboard/base.html' %}

{% block headstyles %}
  <style>
    .modal {
      transition: opacity 0.25s ease;
    }
    body.modal-active {
      overflow-x: hidden;
      overflow-y: visible !important;
    }
  </style>
{% endblock %}

{% block body %}

<h3 class="text-gray-700 text-3xl font-medium">Events</h3>

    <div class="mt-4">
        <a href="{% url 'dashboard:new_event' %}" class="btn btn-secondary bg-black hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded" >
            +  New Event
        </a>



    </div>

    <div class="mt-8">
<!--        <h4 class="text-gray-600">-&#45;&#45;</h4>-->

        <div class="flex flex-col mt-6">
            <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Name</th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Details</th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Status</th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">More Info</th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-100"></th>
                            </tr>
                        </thead>

                        <tbody class="bg-white">

                            {% for event in events %}
                            <tr>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="flex items-center">
                                        <div class="flex-shrink-0 w-24">
                                            <img class="" src="{{event.get_photo}}" alt="" />
                                        </div>

                                        <div class="ml-4">
                                            <div class="text-sm leading-5 font-medium text-gray-900">{{event.name}}</div>
                                            <div class="text-sm leading-5 text-gray-500">{{event.description}}</div>
                                        </div>
                                    </div>
                                </td>

                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">{% if event.link %}{{event.link}}{% endif %}</div>
                                    <div class="text-sm leading-5 text-gray-500">{{event.start}} - {{event.end}}</div>
                                    <div class="text-sm leading-5 text-gray-500">Items in Event: {{event.items_featured.count}} -
                                        <form class="inline" action="{% url 'dashboard:event_view_items' event_id=event.id%}">

                                        <button class="bg-gray-700 rounded px-2 text-white">Add Items</button>
                                        </form>
                                    </div>
                                </td>

                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">Active</span>
                                </td>

                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">{{event.link}}</td>

                                <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                                    <a href="{% url 'dashboard:event_detail' event_id=event.id %}" class="text-black underline hover:text-gray-700">Edit</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="flex items-center justify-around">
                                        <div class="ml-4 text-center">
                                            <div class="text-sm text-center font-medium text-gray-700">No Events yet. Create one!</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bodylivescripts %}

$(document).ready(function(){
  $("#events-menu").addClass("bg-gray-600 bg-opacity-25 text-gray-100 border-gray-100");
  $("#events-menu").removeClass("border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100");
});


{% endblock %}