{% extends 'dashboard/base.html' %}

{% load static %}
{% load humanize %}
{% block headscripts %}

<script src="{% static 'plugins/tagsinput/js/jquery.tagsinput.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'plugins/tagsinput/css/jquery.tagsinput.min.css' %}" />

{% endblock %}

{% block headstyles %}
  <style>
    .modal {
      transition: opacity 0.25s ease;
    }
    body.modal-active {
      overflow-x: hidden;
      overflow-y: visible !important;
    }

  </style>
    <style>
        .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
    </style>
{% endblock %}

{% block body %}
<div class="flex justify-between">
        <div class="flex-col items-start">
            <div class="text-gray-700 text-3xl font-medium">Items</div>
            <div class="mx-2 text-gray-500">({{items.count}} Items)</div>
        </div>

        {% include 'dashboard/items/new_item_modal.html' %}

    </div>

    <div class="mt-4">

        <div class="mt-6">
            <div class="flex justify-between">
                <form style="display: inline">
                <div class="flex flex-col sm:flex-row">

                    <div class="flex">
                        <div class="relative">
                            <select name="page_size" class="appearance-none h-full rounded-l border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                            </select>

                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                            </div>
                        </div>

                        <div class="relative">
                            <select name="category" class="appearance-none h-full rounded-r border-t sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                                <option value="">All</option>
                                {% for category in categories %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}

                            </select>

                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="block relative sm:mt-0">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                            <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                                <path d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z"></path>
                            </svg>
                        </span>

                        <input name="search" placeholder="Search" class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
                    </div>
                    <div><button class="form-control">Filter</button></div>

                </div>
                    </form>
                <div class="flex">
                    <div class="h-3 mx-2">
                        <button class="bg-gray-700 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded" data-toggle="modal" data-target="#newItemModal">
                            +  New Item
                        </button>
                    </div>
                    <div class="h-3 mx-2">
                        <button class="bg-gray-700 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded" data-toggle="modal" data-target="#newItemModal">
                        +  New Parameters
                        </button>
                    </div>
                </div>
                </div>

            <div class="flex flex-col mt-6">
            <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                <div class="align-middle inline-block min-w-full shadow overflow-x-auto sm:rounded-lg border-b border-gray-200">
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Item Name</th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Description</th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Price</th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-100"></th>
                            </tr>
                        </thead>

                        <tbody class="bg-white">
                            {% for item in page_obj %}
                            <tr>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="flex items-center">
                                        <div class="flex-shrink-0 w-32">
                                            <img class="" src="{{item.get_photo}}" alt="" />
                                        </div>

                                        <div class="ml-4">
                                            <div class="text-sm leading-5 font-medium text-gray-900">{{ item.name }}</div>
                                            <div class="text-sm leading-5 text-gray-500">Item ID: {{ item.pk }}</div>
                                        </div>
                                    </div>
                                </td>

                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900">{{ item.description }}</div>
                                    <div class="text-sm leading-5 text-gray-500">{{ item.get_variation_count }} different stocks</div>
                                </td>

                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">₱{{ item.price|intcomma}}</span>
                                </td>

                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"><span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">{{ item.get_quantity|stringformat:'d'}}</span></td>

                                <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                                    <a href="{% url 'dashboard:item_detail' item_id=item.id%}" class="text-black hover:text-gray-900">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="flex justify-end border-t bg-white">
                        <span class="text-xs xs:text-sm text-gray-900 mt-4">Go to Page

                            <form class="form-control mr-3" style="display:inline">
                                <input type="number" name="page" max="{{page_obj.paginator.num_pages}}">
                                <button>Go</button>
                            </form>
                        </span>
                    </div>
                    <div class="px-5 py-5 bg-white flex flex-col xs:flex-row items-center xs:justify-between">

                        <span class="text-xs xs:text-sm text-gray-900">Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

                        <div class="inline-flex mt-2 xs:mt-0">
                            {% if page_obj.has_previous %}
                            <form method="get" action="{%url 'dashboard:items'%}">
                                <input type="hidden" name="page" value="{{ page_obj.previous_page_number }}" />
                            <button class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l">Prev</button>
                            </form>
                            {% endif %}
                            {% if page_obj.has_next %}
                            <form method="get" action="{%url 'dashboard:items'%}">
                                <input type="hidden" name="page" value="{{ page_obj.next_page_number }}" />
                                <button type="submit" class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r">Next</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}

{% block bodyscripts %}

{% endblock %}


{% block bodylivescripts %}

$(document).ready( function() {
        $("#items-menu").addClass("bg-gray-600 bg-opacity-25 text-gray-100 border-gray-100");
        $("#items-menu").removeClass("border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100");
        $('.parameter-tags').tagsInput();
    	$(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {

		    var input = $(this).parents('.input-group').find(':text'),
		        log = label;

		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }

		});
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();

		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }

		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#imgInp").change(function(){
		    readURL(this);
		});
	});


{% endblock %}